h1 {
  text-align: center;
}
h2 {
  color: white;
  margin: 10px;
}
body {
  font-family: Helvetica;
}
.session {
  background-color: #4682B4;
  border-radius: 20px;
  padding: 10px;
}
.question {
  background-color: #DFEAF1;
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
  font-size: 20px;
  color: black;
}
.question-title {
  font-size: 20px;
  margin: 8px;
  text-align: center;
  color: #294860;
}
.answer {
    font-weight: lighter;
    margin: 6px;
}
span.code {
  font-family: Courier;
  background-color: #BBBBBB;
  padding: 2px 4px;
  font-weight: bold;
}
.bold {
    font-weight: bold;
}